## 1. 패키지 로드

In [1]:
import pandas as pd
import numpy as np
%matplotlib inline
import seaborn as sns
import matplotlib.pyplot as plt
from scipy.stats import norm

## 2. 데이터 로드

In [2]:
train = pd.read_csv('data/train.csv')
train.head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C

In [4]:
train = pd.read_csv('data/train.csv', index_col='PassengerId')
train.head(2)

# 'index_col'은 해당 열(PassengerId)을 인덱스로 사용할 수 있게 해줌.
# but 고유한 값이어야 함.

test = pd.read_csv('data/test.csv', index_col='PassengerId')
submission = pd.read_csv('data/gender_submission.csv', index_col='PassengerId')

print(train.shape, test.shape, submission.shape)

# shape: 해당 데이터 행렬의 크기 -> (행 숫자, 열 숫자)
# 즉 우리는 train의 891명의 데이터로, test의 418명의 생존여부를 예측해, submission 행렬의 크기에 맞춰 결과를 제출해야함.

(891, 11) (418, 10) (418, 1)