In [13]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

import os
for dirname, _, filenames in os.walk('data'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

data\gender_submission.csv
data\test.csv
data\train.csv

In [7]:
train_titanic = pd.read_csv('data/train.csv')
train_titanic.head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C

In [8]:
test_titanic = pd.read_csv('data/test.csv')
test_titanic.head(2)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S

### 생존여부 영향인자 예상 순위
1. Sex
2. Age
3. Pclass
4. Parch
5. SibSp
6. Embarked
7. Fare
8. Cabin
9. Name / Ticket / PassengerId

In [11]:
submission = pd.read_csv('data/gender_submission.csv')
submission.head(2)

   PassengerId  Survived
0          892         0
1          893         1

In [5]:
submission.to_csv('submission.csv', index=False)